<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Administrador</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Sora' rel='stylesheet'>
    <script src="/js/script.js"></script>
</head>

<body>
    <header class="header">
        <img src="images/estrelaBranca.png" alt="Logo da Empresa">
        <div class="title-container">
            <h1>Painel de Administrador</h1>
        </div>

        <div class="container-options">
            <button class="btn-main">☰ Opções</button>
            <div class="options">
                <a href="/criar-eventos">Adicionar Evento</a>
                <a href="/solicitacoes">Solicitações de Eventos</a>
                <a href="/eventos-futuros">Eventos Futuros</a>
                <a href="/eventReports">Relatório de Eventos</a>
            </div>
             <button>Sair🚪</button>
        </div>

        <nav>
            <a href="/criar-eventos">Criar Evento</a>
            <a href="/solicitacoes">Solicitações de Eventos</a>
            <a href="/eventos-futuros">Eventos Futuros</a>
            <a href="/relatorio-eventos">Relatório de Eventos</a>
            <a href="/logout">Sair</a>

        </nav>
    </header>
    {{{body}}}
    <script src="/js/main.js"></script>
</body>

</html>